footer {
  height: 50px;
}

.footer__center {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  color: #767676;
}

.footer__right {
  display: flex;
  justify-content: right;
  margin-top: -40px;
  margin-right: 75px;
  color: #767676;
}

.footer__logos {
  margin-left: 75px;
  margin-top: 20px;
}

.footer__logos img {
  width: 35px;
  height: 35px;
}

@media (max-width: 1167px) {
  .footer__logos {
    margin-left: 35px;
    margin-top: 50px;
  }

  .footer__logos img {
    width: 35px;
    height: 35px;
  }

  .footer__right {
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer__center {
    display: flex;
    justify-content: center;
    margin-top: -80px;
    color: #767676;
  }

  footer a {
    display: none;
  }
}
