$logo-font: "Playfair Display", serif;
$logo-color: #e92569;
$logo-font-weight: bold;
$logo-font-style: italic;
$regular-text-font: "Lato", sans-serif;
$regular-text-col: #767676;
$headings-font: "Playfair Display", serif;
